body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popUpDiv {
  margin: 0 auto;
  padding: auto;
}

.departurePopUpBtn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #080808;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.departurePopUpBtn:hover {
  background-color: #4095c6;
}

.departurePopUpBtns {
  display: flex;
  margin: auto;
  padding: auto;
  justify-content: space-around;
}

.storeImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  width: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.trafficButtonDisabled {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #080808;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.trafficButtonEnabled {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.trafficButtonEnabled:hover {
  background-color: #4095c6;
}

.trafficButtonDisabled:hover {
  background-color: #4095c6;
}

.trafficImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 80px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.disabled-traffic {
  float: right;
  justify-content: space-between;
}

.enabled-traffic {
  float: left;
  justify-content: space-between;
}

.trafficBtns {
  justify-content: space-between;
}

.navbar {
  margin-bottom: 15px;
}

.sideListDiv {
  margin: 5px;
  padding: 5px;
  border: 1px red solid;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.sideList {
  overflow: scroll;
  width: 100%;
  height: 80vh;
  border-bottom: 1px black solid;
  scrollbar-shadow-color: aquamarine;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
  border-bottom: 1px black solid;
}

.footer {
  border: 1px black solid;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 14.5vh;
  align-content: center;
}

.footer {
  align-items: center;
}

.mapAndList {
  display: flex;
}

.weather-div {
  float: right;
  /* margin-top: -112px; */
}

.focused-title {
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.unFocused-title {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.toolTip {
  position: relative;
  display: block;
}

.toolTip ul {
  opacity: 0.8;
  left: 100%;
  padding-left: -80px;
  margin-left: 15px;
  width: 100px;
  color: #ffffff;
  background: #000000;
  position: absolute;
  height: auto;
  line-height: 15px;
  text-align: center;
  visibility: visible;
  border-radius: 6px;
  box-shadow: 0 0 0 #800000;
  justify-content: center;
}

.toolTip ul::after {
  /* content creates the little arrow pointing from the starting position */
  content: "";
  position: absolute;
  top: 18%;
  right: 100%;
  margin-top: -8px;
  margin-left: auto;
  width: 0;
  height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.toolTip ul:hover {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -NaNpx;
  margin-left: 15px;
  z-index: 999;
}
